<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bruce - Creative Multipurpose HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate text CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate-text.css">

    <!-- AOS CSS -->
    <link href="assets/css/plugins/aos.css" rel="stylesheet">

    <!-- Some Plugins CSS -->
    <link href="assets/css/plugins/some-plugins.min.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">


    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
        <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>























    <!--====================  header area ====================-->
    <div class="header-area header-area--absolute">
        <div class="preview-header-inner  @@absoluteMenu @@headerTransparent header-sticky ">
            <div class="container-fluid container-fluid--cp-150">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header position-relative">
                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/white-logo.png" class="img-fluid light-logo" alt="">
                                    <img src="assets/images/logo/dark-logo.png" class="img-fluid dark-logo" alt="">
                                </a>
                            </div>
                            <!-- navigation menu -->
                            <div class="header__navigation menu-style-four preview-menu d-none d-lg-block">
                                <nav class="navigation-menu navigation-menu--onepage navigation-menu-right">
                                    <ul>
                                        <li><a href="#section-demos"><span>Demos</span></a></li>

                                        <li><a href="https://hasthemes.com/contact-us/" target="_blank"><span>Support</span></a></li>
                                    </ul>
                                </nav>

                            </div>
                            <!-- header actions -->
                            <div class="header__actions--preview">
                                <div class="header__actions">
                                    <div class="header__icons-wrapper header-right-inner" id="hidden-icon-wrapper">
                                        <div class="header-button downlode-btn ml-4">
                                            <a href="https://themeforest.net/item/bruce-creative-multipurpose-html-template/25935431?ref=AslamHasib" class="purchase-btn"> Purchase</a>
                                        </div>
                                    </div>
                                    <!-- mobile menu -->
                                    <div class="preview-icon mobile-navigation-icon d-block d-lg-none" id="mobile-menu-trigger">
                                        <i></i>
                                    </div>
                                    <!-- hidden icons menu -->
                                    <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-ellipsis-h"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of header area  ====================-->



    <div class="site-wrapper-reveal">

        <div class="preview-hero-area preview-hero-bg position-relative section-space--ptb_120">
            <div class="container-fluid container-fluid--cp-150">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-1 order-2">
                        <div class="preview-hero-text wow move-up animated">
                            <h6 class="mb-10">Multipurpose</h6>
                            <h2 class="font-weight--reguler text-white mb-30">Bruce - Creative Multipurpose HTML Template</h2>
                            <div class="hero-button mt-40">
                                <a href="#section-demos" class="btn btn-view-demo">Browse demos </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 order-1">
                        <div class="preview-inner-img small-mb__30 tablet-mb__30">
                            <img class="img-fluid min-img  animation_images one animated" src="assets/images/preview/hero-inner.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="preview-item-area section-space--ptb_100 bg-gray" id="section-demos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">Start with a demo</h6>
                            <h3 class="heading"> <span class="text-color-primary">11+ Unique Home pages </span></h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="01-corporate-index.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/corporate-1-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Corporate One</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="02-corporate-index.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/corporate-2-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Corporate Two</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="architecture.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/architecture-1-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Architecture One</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="architecture-02.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/architecture-2-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Architecture Two</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="architecture-03.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/architecture-3-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Architecture Three</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="creative.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/creative-1-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Creative One</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="creative-2.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/creative-2-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Creative Two</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="personal.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/personal-1-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Personal One</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="personal-2.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/personal-2-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Personal Two</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="startup-index-01.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/startup-1-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Startup One</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-preview-item__wrap mt-40 text-center">
                            <a href="startup-index-02.html" target="_blank">
                                <div class="frame-screen">
                                    <div class="dots">
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                        <div class="dot"></div>
                                    </div>
                                    <div class="single-preview-item__thumbnail">
                                        <img class="img-fluid" src="assets/images/preview/startup-2-preview-480x338.jpg" alt="">
                                        <div class="overlay">
                                            <div class="btn-view-demo btn btn--white">
                                                View Demo
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-preview-item__info">
                                        <h6 class="heading">Startup Two</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <div class="layouts-section-wrap layout-section-bg section-space--pt_80">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="layouts-section-text">
                            <div class="ht-box-icon preview-style">
                                <div class="icon-box-wrap">
                                    <div class="image">
                                        <img src="assets/images/preview/mitech-landing-plugin-slider-86x86.png" class="img-fluid" alt="images-01">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading text-white">Swiper Slider</h5>
                                        <div class="text mt-10 text-white">Generate unlimited full-width HD retina ready sliders with effects</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layouts-section-text">
                            <div class="ht-box-icon preview-style">
                                <div class="icon-box-wrap">
                                    <div class="image">
                                        <img src="assets/images/preview/mitech-landing-plugin-font-awesome-86x86.png" class="img-fluid" alt="images-01">
                                    </div>
                                    <div class="content">
                                        <h5 class="heading text-white">Font Awesome </h5>
                                        <div class="text mt-10 text-white">Professional fonts and icons help improve readability &amp; visual.</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="layouts-images text-left">
                            <img class="img-fluid" src="assets/images/preview/bruec-extended-plugins-preview.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="feature-images-wrapper section-space--ptb_120">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title mb-20">Extra Features</h6>
                            <h3 class="text-color-primary">Richness of Theme Features</h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__serven">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-01-68x68.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">Expert Typography </h4>
                                                    <div class="text">Your site’s typography will benefit from beautiful fonts provided by Font Awesome 5 Pro plugin.
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-02-68x68.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">Fast Loading Speed </h4>
                                                    <div class="text">Bruce gets a very high pagespeed scores on Pagespeed Insight, Pingdom Tools &amp; GTmetrix.
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-03-68x68.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">SEO Optimization </h4>
                                                    <div class="text">All elements are fully optimized to help your site compete with other similar ones in search engine.
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-04-68x68.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">Cross-browser Adaptability </h4>
                                                    <div class="text">We run thorough tests on different browsers to ensure optimal performance on all devices.
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-05-68x68.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">Prompt Support </h4>
                                                    <div class="text">Any issues with theme configuration and site building will be solved promptly by our professionals.
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up animated">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-07">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/landing-theme-feature-06-68x68.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="title--default font-weight--bold mb-10">Abundant Shortcodes </h5>
                                                <div class="text">A wide ranging of shortcodes are added to Mitech for assisting users on page building process.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer-area-preview">
            <div class="footer-preview section-space--ptb_120 prv-section-footer-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                            <div class="footer-preview-content section-space--ptb_70 text-center">
                                <h3 class="heading text-white">Take Steps to Get Closer <br> To The Sweet Smell Of Success Now</h3>
                                    <h6 class="heading  text-white mt-25">A High-growth Approach</h6>
                                    <div class="header-button downlode-btn mt-40">
                                        <a href="https://themeforest.net/item/bruce-creative-multipurpose-html-template/25935431?ref=AslamHasib" class="ht-btn btn--white">Purchase Now </a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>



    </div>


    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-angle-double-up"></i>
        <i class="arrow-bottom fa fa-angle-double-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->





















    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-overlay__header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8">
                            <!-- logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/dark-logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-4">
                            <!-- mobile menu content -->
                            <div class="mobile-menu-content text-right">
                                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-overlay__body">
                <nav class="offcanvas-navigation offcanvas-navigation--onepage">
                    <ul>
                        <li><a href="#section-demos">Demos</a></li>
                        <li><a href="https://hasthemes.com/contact-us/" target="_blank">Support</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->








    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter down JS -->
    <script src="assets/js/plugins/countdown.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="assets/js/plugins/images-loaded.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- WOW JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- AOS JS -->
    <script src="assets/js/plugins/aos.js"></script>

    <!-- Some plugins JS -->
    <script src="assets/js/plugins/some-plugins.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>