<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bruce - Creative Multipurpose HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Animate text CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate-text.css">

    <!-- AOS CSS -->
    <link href="assets/css/plugins/aos.css" rel="stylesheet">

    <!-- Some Plugins CSS -->
    <link href="assets/css/plugins/some-plugins.min.css" rel="stylesheet">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">


    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
        <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>





    <!--====================  header area ====================-->
    <div class="header-area header-area--default">


        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-area--absolute header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/dark-logo.png" class="img-fluid" alt="">
                                </a>
                            </div>

                            <!-- header midle box  -->
                            <div class="header-midle-box">
                                <div class="header-bottom-wrap d-md-block d-none">
                                    <div class="header-bottom-inner">
                                        <div class="header-bottom-left-wrap">
                                            <!-- navigation menu -->
                                            <div class="header__navigation d-none d-lg-block">
                                                <nav class="navigation-menu primary--menu">
                                                    <ul>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="#"><span>Home</span></a>
                                                            <ul class="submenu">
                                                                <li><a href="personal.html"><span>Personal One</span></a></li>
                                                                <li><a href="personal-2.html"><span>Personal Two</span></a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="inner-pages/personal/about-us.html"><span>About</span></a>
                                                        </li>
                                                        <li class="has-children">
                                                            <a href="inner-pages/personal/service.html"><span>Service</span></a>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="#"><span>Blog</span></a>
                                                            <ul class="submenu">
                                                                <li><a href="inner-pages/personal/blog-post.html"><span>Blog Post</span></a></li>
                                                                <li><a href="inner-pages/personal/blog-details.html"><span>Blog Post Details</span></a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="inner-pages/personal/portfolio.html"><span>Portfolio</span></a>
                                                            <ul class="submenu">
                                                                <li><a href="inner-pages/personal/portfolio-02.html"><span>Portfolio Two</span></a></li>
                                                                <li><a href="inner-pages/personal/portfolio-03.html"><span>Portfolio Three</span></a></li>
                                                                <li><a href="inner-pages/personal/portfolio-04.html"><span>Portfolio Four</span></a></li>
                                                                <li><a href="inner-pages/personal/portfolio-05.html"><span>Portfolio Five</span></a></li>
                                                                <li><a href="inner-pages/personal/portfolio-single-one.html"><span>Portfolio Details</span></a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="has-children has-children--multilevel-submenu">
                                                            <a href="inner-pages/personal/contact-us.html"><span>Contact</span></a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="mobile-navigation-icon d-block d-lg-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->


















    <div class="site-wrapper-reveal">


        <!--============ Hero Area Start ============-->
        <div class="personal-hero bg-img" data-bg="assets/images/bg/personal-hero-bg.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <!--baseline-->
                    <div class="col-xl-7 col-lg-8 col-md-9">
                        <div class="hero-text small-mt__60 tablet-mt__60 text-center text-md-left wow move-up">
                            <h4 class="sub-title theme-color-secondary mb-10 wow fadeInDown animated" data-wow-delay="0.2s">Hello!</h4>
                            <h1 class="font-weight--bold section-title wow fadeInUp animated" data-wow-delay="0.4s">I’m Ricky Ponting</h1>
                            <h3 class="font-weight--reguler mb-15 section-title  wow fadeInUp animated" data-wow-delay="0.7s">WordPress Developer</h3>
                            <div class="hero-button mt-30  wow fadeInLeft animated" data-wow-delay="0.9s">
                                <a href="#" class="ht-btn ht-btn-lg font-weight--bold">Hire me</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="hero-images-wrap">
                            <div class="personal-inner-hero-images-two wow fadeInUp animated" data-wow-delay="0.9s">
                                <img src="assets/images/hero/personal_portfolio-01.png" class="img-fluid" alt="Hero image">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="social-personal-box">
                <div class="social-share style-01">
                    <ul class="list ht-social-networks style-two-icon">
                        <li class="item">
                            <a href="https://www.facebook.com/" target="_blank" class="social-link"> <i class="fa fa-facebook-f social-link-icon"></i></a>
                        </li>
                        <li class="item">
                            <a href="https://dribbble.com/" target="_blank" class="social-link"> <i class="fa fa-dribbble social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="https://www.behance.net/" target="_blank" class="social-link"> <i class="fa fa-behance social-link-icon"></i> </a>
                        </li>
                        <li class="item">
                            <a href="https://twitter.com/" target="_blank" class="social-link"> <i class="fa fa-twitter social-link-icon"></i> </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--============ Hero Area End ============-->

        <!--============ Personal About Area Start ============-->
        <div class="personal-about-area section-space--ptb_120">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-7 col-md-12">
                        <div class="personal-about-left-wrap">
                            <div class="about-us-content">
                                <div class="section-title-wrap">
                                    <h6 class="section-sub-title">Why me?</h6>
                                    <h3 class="mb-20 section-title">Always Prefer Client’s <br> Satisfaction and Emotion</h3>
                                        <h4 class="mb-20 font-weight--light">You can select me for your next project <br> beacuse I would like to </h4>
                                            <p class="mb-15 font-weight--light">Most popular typesetting, remaining are essentially was popularised in the 1960s with the release of uncover many web sites still in their
                                                nfancy. Various versions have evolved over the years, sometimes</p>
                                            <p class="mb-40 font-weight--light">Most popular typesetting, remaining are essentially was popularised in the 1960s with the release of uncover many web sites still </p>

                                            <div class="about-us-btn-box">
                                                <a href="#" class="ht-btn ht-btn-sm">Download CV</a>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="personal-about-right-wrap">
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01 mb-30">
                                <div class="image-box-wrap">
                                    <div class="content">
                                        <h4 class="heading-title font-weight--bold mb-15">Creative Idea</h4>
                                        <div class="text">electronic typesetting, remaining are essentially was popularised in the 1960s with the release of Letraset sheets</div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01 mb-30">
                                <div class="image-box-wrap">
                                    <div class="content">
                                        <h4 class="heading-title font-weight--bold mb-15">Pixel Perfect Design</h4>
                                        <div class="text">electronic typesetting, remaining are essentially was popularised in the 1960s with the release of Letraset sheets</div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                            <!-- ht-box-icon Start -->
                            <div class="ht-box-images style-01">
                                <div class="image-box-wrap">
                                    <div class="content">
                                        <h4 class="heading-title font-weight--bold mb-15">Clean Code</h4>
                                        <div class="text">electronic typesetting, remaining are essentially was popularised in the 1960s with the release of Letraset sheets</div>
                                    </div>
                                </div>
                            </div>
                            <!-- ht-box-icon End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============ Personal About Area End ============-->

        <!--============ Personal Skill Area Start ============-->
        <div class="personal-skill-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="personal-skill-image">
                            <img class="img-fluid" src="assets/images/bg/personal-skill.png" alt="Skill Images">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="personal-skill-content-box-one small-mt__30 tablet-mt__30">
                            <div class="section-title-wrap">
                                <h6 class="section-sub-title">My Skills</h6>
                                <h3 class="mb-20 section-title">We are expert <br> in our services</h3>
                            </div>
                            <div class="personal-skill-progress section-space--mt_60">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="progress-bar--one section-space--mb_60">
                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts">
                                                <h6 class="heading ">Graphic Design</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 91%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->

                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts">
                                                <h6 class="heading ">UI & UX Design</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 82%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->

                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts ">
                                                <h6 class="heading ">App Design</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".8s" role="progressbar" style="width: 89%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="progress-bar--one section-space--mb_60">
                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts">
                                                <h6 class="heading ">Branding</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 81%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->

                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts">
                                                <h6 class="heading ">Interaction Design</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.7s" data-wow-delay=".5s" role="progressbar" style="width: 72%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->

                                            <!-- Start Single Progress Charts -->
                                            <div class="progress-charts ">
                                                <h6 class="heading ">Web Development</h6>
                                                <div class="progress">
                                                    <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".8s" role="progressbar" style="width: 89%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <!-- End Single Progress Charts -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--============ Personal Skill Area End ============-->

        <!--=========== Fun fact Area Start ==========-->
        <div class="fun-fact-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="fun-fact-style-two pl-5 pr-5 section-space--pt_60 mb-30 section-space--pb_30 personal-fun-fact-bg bg-img" data-bg="assets/images/bg/personal-counter-bg.jpg">
                            <div class="single-fun-fact wow move-up">
                                <div class="fun-fact--one">
                                    <h3 class="fun-fact__count"><span class="counter">1050</span></h3>
                                    <span class="fun-fact__text">Project Completed</span>
                                </div>
                            </div>
                            <div class="single-fun-fact wow move-up">
                                <div class="fun-fact--one">
                                    <h3 class="fun-fact__count"><span class="counter">528</span>+</h3>
                                    <span class="fun-fact__text">Trusted Client’s</span>
                                </div>
                            </div>
                            <div class="single-fun-fact wow move-up">
                                <div class="fun-fact--one">
                                    <h3 class="fun-fact__count"><span class="counter">100</span>%</h3>
                                    <span class="fun-fact__text">Client Satisfaction</span>
                                </div>
                            </div>
                            <div class="single-fun-fact wow move-up">
                                <div class="fun-fact--one">
                                    <h3 class="fun-fact__count"><span class="counter">125</span>+</h3>
                                    <span class="fun-fact__text">Award Win</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== Fun fact Area End ==========-->

        <!--=========== Personal info Area Start ==========-->
        <div class="personal-info-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="personal-info-box theme-bg-default">
                            <h4 class="text-white">Say Hello to me - info@example.com or 015879 654 215</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== Personal info Area End ==========-->


        <!--=========== Personal Service Area Start ==========-->
        <div class="personal-service-area section-space--pt_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center section-space--mb_40">
                            <h6 class="section-sub-title">What I do</h6>
                            <h3 class="section-title">Provide best quality <br> services for you</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">Graphics <br> Design</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">UI/UX <br> Design</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">Apps <br> Design</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">Brand <br> Identity</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">Interaction <br> Design</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                    <div class="col-lg-4 col-md-6 mt-30">
                        <!-- Service Box Start -->
                        <div class="ht-service-box style-2">
                            <h3 class="mb-20 title--default">Web Design & <br> Development</h3>
                                <p>electronic typesetting, remaining are
                                    essentially was popularised in the more
                                    with the release of Letraset sheets</p>
                                <a href="#">Know more</a>
                        </div>
                        <!-- Service Box End -->
                    </div>
                </div>
            </div>
        </div>
        <!--=========== Personal Service Area End ==========-->

        <!--=========== Portfolio Area Start ==========-->
        <div class="portfolio-area section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-left section-space--mb_40">
                            <h6 class="section-sub-title">Portfolio</h6>
                            <h3 class="section-title">View our <br> latest work </h3>
                        </div>
                    </div>
                </div>
                <div class="masonry-activation">
                    <div class="row clearfix mesonry-list">
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-01.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-02.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="post-overlay gradient-background"></div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-03.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-06.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-04.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 masonary-item wow move-up">
                            <div class="portfolio-wrapper mt-30">
                                <!--======= Single Portfolio Item Start ========-->
                                <a class="single-portfolio-item" href="inner-pages/personal/portfolio-single-one.html">
                                    <div class="single-portfolio__thumbnail">
                                        <img class="img-fluid" src="assets/images/portfolio/portfolio-05.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="project-hover-01">
                                        <div class="inner-icon">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <div class="post-overlay-info">
                                            <h5 class="post-overlay-title text-white">Print Design Prospect</h5>
                                        </div>
                                    </div>
                                </a>
                                <!--===== Single Portfolio Item End =========-->
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
        <!--=========== Portfolio Area End ==========-->


        <!-- Instructor Area
============================================ -->
        <div class="personal-testimonials-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Instructor Tab Content -->
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-8 col-md-6 ml-auto">
                                    <div class="section-title-wrap personal-testimonials-title ml-lg-5">
                                        <h6 class="section-sub-title">Testimonials</h6>
                                        <h3 class="mb-20 section-title">Our happy Client’s
                                            <br> say abut us</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade show active" id="personal-testimonials-1">
                                <div class="row">
                                    <div class="personal-testimonials-image col-lg-4 col-md-6 col-sm-9">
                                        <img class="img-fluid" src="assets/images/team/personal-lg-01.jpg" alt="">
                                        <span>Nancy Nicol, CEO</span>
                                    </div>
                                    <div class="personal-testimonials-details text-left col-lg-8 col-md-6">
                                        <p class="ml-lg-5">Most popular typesetting, remaining are essentially popularised
                                            in the 1960s with the release of uncover many web sites still in their
                                            some times what we waht we do not get it, because there is many
                                            nfancy. Various versions have evolved over the years, sometimes </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="personal-testimonials-2">
                                <div class="row">
                                    <div class="personal-testimonials-image col-lg-4 col-md-6 col-sm-9">
                                        <img class="img-fluid" src="assets/images/team/personal-lg-02.jpg" alt="">
                                        <span>Nancy Nicol, CEO</span>
                                    </div>
                                    <div class="personal-testimonials-details text-left col-lg-8 col-md-6">
                                        <p class="ml-lg-5">Most popular typesetting, remaining are essentially popularised
                                            in the 1960s with the release of uncover many web sites still in their
                                            some times what we waht we do not get it, because there is many
                                            nfancy. Various versions have evolved over the years, sometimes </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="personal-testimonials-3">
                                <div class="row">
                                    <div class="personal-testimonials-image col-lg-4 col-md-6 col-sm-9">
                                        <img class="img-fluid" src="assets/images/team/personal-lg-03.jpg" alt="">
                                        <span>Nancy Nicol, CEO</span>
                                    </div>
                                    <div class="personal-testimonials-details text-left col-lg-8 col-md-6">
                                        <p class="ml-lg-5">Most popular typesetting, remaining are essentially popularised
                                            in the 1960s with the release of uncover many web sites still in their
                                            some times what we waht we do not get it, because there is many
                                            nfancy. Various versions have evolved over the years, sometimes </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="personal-testimonials-4">
                                <div class="row">
                                    <div class="personal-testimonials-image col-lg-4 col-md-6 col-sm-9">
                                        <img class="img-fluid" src="assets/images/team/personal-lg-04.jpg" alt="">
                                        <span>Nancy Nicol, CEO</span>
                                    </div>
                                    <div class="personal-testimonials-details text-left col-lg-8 col-md-6">
                                        <p class="ml-lg-5">Most popular typesetting, remaining are essentially popularised
                                            in the 1960s with the release of uncover many web sites still in their
                                            some times what we waht we do not get it, because there is many
                                            nfancy. Various versions have evolved over the years, sometimes </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Instructor Tab List -->
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="nav personal-testimonials-tab-list fix">
                                    <li class="active"><a href="#personal-testimonials-1" data-toggle="tab"><img src="assets/images/team/personal-sm-01.jpg" class="img-fluid" alt="" /></a></li>
                                    <li><a href="#personal-testimonials-2" data-toggle="tab"><img src="assets/images/team/personal-sm-02.jpg" class="img-fluid" alt="" /></a></li>
                                    <li><a href="#personal-testimonials-3" data-toggle="tab"><img src="assets/images/team/personal-sm-04.jpg" class="img-fluid" alt="" /></a></li>
                                    <li><a href="#personal-testimonials-4" data-toggle="tab"><img src="assets/images/team/personal-sm-03.jpg" class="img-fluid" alt="" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Area
============================================ -->




    </div>




    <!--====================  footer area ====================-->
    <div class="footer-area-wrapper ">
        <div class="footer-area section-space--pt_100 section-space--pb_70 bg-img" data-bg="assets/images/bg/personal-footer-bg.jpg">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <div class="section-title-wrap text-left">
                            <h6 class="section-sub-title">Contact</h6>
                            <h3 class="section-title mb-20">Get in touch</h3>
                            <p class="font-weight--light">electronic typesetting, remaining are
                                essentially was popularised in the more
                                with the release of Letraset</p>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12">
                        <div class="row footer-widget__wrap">
                            <div class="single-footer-widger mb-30">
                                <h5>Address</h5>
                                <p>275 South Poal, 4th Floor Central Plaza, Main Town, New Yourk, USA</p>
                            </div>
                            <div class="single-footer-widger mb-30">
                                <h5>Phone</h5>
                                <p>01254 879 658, 65987 456 987 <br> 01256 879 857, 01458 658 985</p>
                            </div>
                            <div class="single-footer-widger mb-30">
                                <h5>Web</h5>
                                <p>
                                    <a href="#">info@example.com</a> <br>
                                    <a href="#">www.example.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area mt-25 mb-25">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <span class="copyright-text">Copyright &copy; <a href="https://hasthemes.com/" target="_blank" >All Rights Reserved.</a> Hasthemes.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of footer area  ====================-->






    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fa fa-angle-double-up"></i>
        <i class="arrow-bottom fa fa-angle-double-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->





    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-overlay__header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8">
                            <!-- logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/dark-logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-4">
                            <!-- mobile menu content -->
                            <div class="mobile-menu-content text-right">
                                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-overlay__body">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="has-children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="personal.html"><span>Personal One</span></a></li>
                                <li><a href="personal-2.html"><span>Personal Two</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="inner-pages/personal/about-us.html"><span>About</span></a>
                        </li>
                        <li class="has-children">
                            <a href="inner-pages/personal/service.html"><span>Service</span></a>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li><a href="inner-pages/personal/blog-post.html"><span>Blog Post</span></a></li>
                                <li><a href="inner-pages/personal/blog-details.html"><span>Blog Post Details</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="inner-pages/personal/portfolio.html"><span>Portfolio</span></a>
                            <ul class="sub-menu">
                                <li><a href="inner-pages/personal/portfolio-02.html"><span>Portfolio Two</span></a></li>
                                <li><a href="inner-pages/personal/portfolio-03.html"><span>Portfolio Three</span></a></li>
                                <li><a href="inner-pages/personal/portfolio-04.html"><span>Portfolio Four</span></a></li>
                                <li><a href="inner-pages/personal/portfolio-05.html"><span>Portfolio Five</span></a></li>
                                <li><a href="inner-pages/personal/portfolio-single-one.html"><span>Portfolio Details</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="inner-pages/personal/contact-us.html"><span>Contact</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->
























    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter down JS -->
    <script src="assets/js/plugins/countdown.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="assets/js/plugins/images-loaded.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- WOW JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- AOS JS -->
    <script src="assets/js/plugins/aos.js"></script>

    <!-- Some plugins JS -->
    <script src="assets/js/plugins/some-plugins.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>